<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.zego.call">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".ui.call.CallActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:taskAffinity="im.zego.call.ui.call.CallActivity" />

        <service
            android:name=".service.ForegroundService"
            android:exported="false"
            android:foregroundServiceType="camera|microphone|phoneCall" />
    </application>
</manifest>